# Entornos virtuales
env/
venv/
.venv/
**/env/
**/venv/
**/.venv/

# Caché de Python
**/__pycache__/
**/*.pyc

# Variables de entorno
.env
**/.env

# Backend
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/